@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');



html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}



body{
  background-image: url(https://i.pinimg.com/originals/c4/6e/53/c46e5362bbe289b7fa285db87037db17.png);
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  }

  h1{
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
  
  }

  footer {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 50px;
    background-color: transparent;
  }

  iframe{
    width: 720px;
    height: 400px;
  }
